body{
    margin: 0;
}

h2{
    text-align: center;
}
h3{
    text-transform: uppercase;
    text-align: center;
    font-size: unset;
    font-family: -webkit-pictograph;
}

.container {
    background: url("../img/arvores.jpg");
    width: 100%;
    background-size: cover;
    
}

.caixaLogo {
    width: 100%;
    background-color: #48a048;
    height: 110px;
}

.logo {
    padding: 10px;
    margin-left: 40%;

}

.logo img {
    height: 100px ;
    width: 100px ;
    float: left;
}

.menu {
    width: 85%;
    mask-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 25%, #ffffff 75%, rgba(255, 255, 255, 0) 100%);
    margin: 0 auto;
}
  
.menu ul {
    text-align: center;
    background:linear-gradient(90deg, transparent -20%, rgb(188, 226, 186) , rgb(255, 255, 255)49%, rgb(188, 226, 186) 86%,transparent 120% );
    /*background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 25%, rgba(255, 255, 255, 0.2) 75%, rgba(255, 255, 255, 0) 100%);*/
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
}
  
.menu ul li {
    display: inline-block;
}
  
.menu ul li a {
    padding: 18px;
    font-family: "Open Sans";
    text-transform:uppercase;
    color: rgba(0, 35, 122, 0.5);
    text-decoration: none;
    display: block;
}
  
 .menu ul li a:hover {
    box-shadow: 0 0 10px rgb(23 39 15), inset 0 0 1px rgb(255 255 255 / 60%);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}

.selecionado {
    box-shadow: 0 0 10px rgb(23 39 15), inset 0 0 1px rgb(255 255 255 / 60%);
    background: rgba(255, 255, 255, 0.1);
    color: rgba(0, 35, 122, 0.7);
}


/* login */
.quadro{ 
    margin: 0 auto;
    padding: 20px 0;
    position: relative;
    width:90%;
    display: flex;
    line-height: 1.34;
    background-color: #ffffff;
    height: 80vh;
}
/* login*/
.caixaTxtApresentacao{
    box-sizing: border-box;
    margin-right: 0;
    padding-right: 2%;
    width: 60%;
    display: block;
    text-align: center;
}

/*login*/
.caixaLogin{
    display: block;
    width: 38%;
    padding-bottom: 24px;
    padding-top: 10px;
    text-align: center;
    align-items: center;
    border: none;
    border-radius: 8px;
    box-shadow: 
    0 2px 4px rgb(0 0 0 / 10%),
    0 8px 16px rgb(0 0 0 / 10%);
    margin: 40px 0 0;
    padding: 20px 0 28px;
    background-color: rgb(255, 255, 255);
    
}
/* login */
/* cadastro */
.campo {
    font-size: 17px;
    width: 95%;
    display: inline-block;
    margin: auto;
    padding: 6px;
    text-align: center;

}
/* login */
/* cadastro */
.entrada {
    padding: 14px 16px;
    font-size: 17px;
    width: 330px;
    border: 1px solid #dddfe2;
    height: 22px;

}
/* login */
/* cadastro */
.botao{
    text-align: center;
    display: block;
    padding-top: 6px;
    direction: ltr;
}
/* login */
.botaoEnter {
    background-color: #48a048;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    display: inline-block;
    font-weight: bold;
    box-sizing: content-box;
    color: white;
}
/* login */
.enviar{
    display: inline-block;
    border-radius: 5px;
    background: #48A058;
    color: white;
    font-weight: 900;
    font-family: system-ui;
    padding: 0.4vh 0.4vw;
    border: none;

}
/* login */
.esqueciSenha{
    margin-top: 16px;
    display: block;
    text-align: center;
}
/* login */
.linha{
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
    width: 399px;
}
/* login */
.botaoCadastro {
    background-color: #48a048;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
    display: inline-block;
    font-weight: bold;
    box-sizing: content-box;
    color: white;
    text-decoration: none;
}

.nome {
    margin-right: 5px;
    display: inline-block;
    width: 154px;
    background-color: white;
    border-radius: 5px;

}


/* comunidade */
.quadro2 { 
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    width: 90%;
    background-color: rgb(255, 255, 255);
    min-height: 80vh;
    border-radius: 20px;
}
.coluna {
    display: block;
    margin: 1vh 1vw;
    padding: 1vh 1vw;
}

.coluna1 {
    width: 80%;
}

.coluna2 {
    flex-grow: 3;

}

.campoG {
    border-radius: 20px;
    height: 150px;
    width: 95%;
    margin: 10px;
    text-align: center;
    background: linear-gradient(0, rgb(188 226 186), transparent);
}
.campoM {
    height: 300px;
    width: 88%;
    text-align: center;
    border-radius: 10px;
    margin: 2vh;
}

.campoP {
    width: 60%;
    margin-left: 12px;
    margin-block: 10px;
    border-radius: 5px;
}

.botaoCamp {
 
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #48a048;
    margin: 1vh;
    color: #ffffff;
    font-weight: bold;
}

.depoimento {
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 1vw;
    box-shadow: 3px 2px 9px rgb(83 79 79);
}

/*fim comunidade*/

/* agenda */
.todo{
    display: flex;
    
}

.calendario {
    display: flex;
    flex-direction: column;
    max-width: 76vh;
    margin: 2vh;
}

.diasUteis {
    display: flex;
    flex-direction: row;
}

.semana {
    flex-direction: row;
    display: flex;
}

.diaNumero {
    height: 6vh;
    display: flex;
    flex-direction: column;
}

.dia {
    width: 7vw;
    padding: 4px;
    border: 1px solid black;
    text-align: center;
    height: 8vh;
}

.dia.abreviacao{
    height: 2vh;
}

.dia.abreviacao:hover {
    background: transparent;
}

.dia:hover{
    background-color: #48a048 ;
}
/* final do calendario*/

.criaEventos {
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 20px;
}